---
title: Group Members
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<div class="row">

				<!-- Sidebar -->
				<div id="sidebar" class="4u sidebar">
					
					<section>
						<header class="major">
							<h2>Group leader</h2>
						</header>
						<ul class="default">
							<!--<li><a href="https://ematito.webs.com/apps/blog/">Dr. Eduard Matito</a></li> -->
							<li><a href="{{ site.baseurl }}/members/eduard-matito.html">Dr. Eduard Matito</a></li>
						</ul>
						<header class="major">
							<h2>Postdoc</h2>
						</header>
						<ul class="default">
					        {% include postdoc_list.html %}
						</ul>
						<header class="major">
							<h2>PhD Students</h2>
						</header> 
						<ul class="default">
						{% include phd_list.html %}
						</ul>
						<header class="major">
							<h2>Master Students</h2>
						</header>
						<ul class="default">
						{% include master_list.html %}
						</ul>
						<header class="major">
							<h2>Alumni</h2>
						</header>
						<ul class="default">
							{% include alumni_list.html %}
						</ul>
						<header class="major">
							<h2>Visitors</h2>
						</header>
						<ul class="default">
							<li><a href="{{ site.baseurl }}/members/nina_szczotka.html">Nina Szczotka</a></li>
						</ul>
					</section>
				</div>

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
		 			          <h2>Current Members</h2>
                                                </header>
                                        <a href="#" class="image feature"><img src="{{ site.baseurl }}/members/photos/group2019_2-2.png" alt="" style="width: 50vw; min-width: 100px;" /></a>
				       <center><p><b>In the Ardatza Society (Donostia), summer 2019</b></p></center>
					</section>
				</div>

			</div>
		</div>
	</div>
