<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li {% if current[1] == 'memebers.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members.html">Members</a>
				<ul>
					 <li>
						<a href="">Group leader</a>
						<ul>
							<li><a href="https://ematito.webs.com/apps/blog/">Dr. Eduard Matito</a></li>
						</ul>
					</li>
                                        <li>
						<a href="">Postdoc</a>
						<ul>
							<li><a href="https://eloyramoscordoba.wordpress.com/aboutme/">Dr. Eloy Ramos-Cordoba</a></li>
						</ul>
					</li>
					<li>
						<a href="">Phd students</a>
						<ul>
							<li {% if current[1] == 'mireia_via_nadal.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/mireia_via_nadal.html">Mireia Via Nadal</a></li>
							<li {% if current[1] == 'irene_casademont_reig.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/irene_casademont_reig.html">Irene Casademont Reig</a></li>
					                <li {% if current[1] == 'sebastian_sitkewicz.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/sebastian_sitkewicz.html">Sebastian Sitkiewicz</a></li>
							<li {% if current[1] == 'xiang_xu.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/xiang_xu.html">Xiang Xu</a></li>
						        <li {% if current[1] == 'carmelo_naim.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/carmelo_naim.html">Carmelo Naim</a></li>
                                                        <li {% if current[1] == 'silvia_escayola.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/silvia_escayola.html">Silvia Escayola</a></li>
				                	<li {% if current[1] == 'arron_rodriguez.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/arron_rodriguez.html">Aarón Rodríguez</a></li>
	                				<li><a href="#">Andrei Paulau</a></li>
						</ul>
					</li>
					<li><a href="#">Master students</a></li>
					<li><a href="#">Undergraduated students</a>
					      <ul>
						   <li {% if current[1] == 'markel_gonzalez.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/markel_gonzalez.html">Markel Gonzalez</a></li>
					      </ul>
					</li>
					 <li>
						<a href="">Alumni</a>
						<ul>
						    <li {% if current[1] == 'mauricio_rodriguez.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/mauricio_rodriguez.html">Dr. Mauricio Rodríguez Mayorga</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">News</a></li>
			<li {% if current[1] == 'research.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/research.html">Research</a></li>
			<li {% if current[1] == 'publications.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
			<li {% if current[1] == 'opportunites.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/opportunites.html">Opportunites</a></li>		      
		</ul>
	</nav>
