<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
			<li {% if current[1] == 'memebers.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members.html">Members</a>
				<ul>
					 <li>
						<a href="{{ site.baseurl }}/members/eduard-matito.html">Group leader</a>
						<ul>
							<!--<li><a href="https://ematito.webs.com/apps/blog/">Dr. Eduard Matito</a></li>-->
							<li><a href="{{ site.baseurl }}/members/eduard-matito.html">Dr. Eduard Matito</a></li>
						</ul>
					</li>
					<li>
						<a href="{{ site.baseurl }}/members/eloy_ramos_cordoba.html">Scientific staff</a>
						<ul>
							<!--<li><a href="https://eloyramoscordoba.wordpress.com/aboutme/">Dr. Eloy Ramos-Cordoba</a></li>-->
							{% include scientific_staffs.html %}
						</ul>
					</li>
                                        <li>
						<a href="{{ site.baseurl }}/members/ruben_ferradas.html">Postdoc</a>
						<ul>
							{% include postdoc_list.html %}
						</ul>
					</li>
					<li>
						<a href="{{ site.baseurl }}/members/markel_gonzalez.html">Phd students</a>
						<ul>
							{% include phd_list.html %}
					          <!-- <li {% if current[1] == 'sebastian_sitkewicz.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/members/sebastian_sitkewicz.html">Sebastian Sitkiewicz</a></li>-->
						</ul>
					</li>
					<li><a href="#">Master students</a>
						 <ul>
						        {% include master_list.html %}
					         </ul>
					</li>
					
					<li><a href="#">Undergraduated students</a>
					</li>
					 <li>
						<a href="{{ site.baseurl }}/members/mauricio_rodriguez.html">Alumni</a>
						<ul>
						    {% include alumni_list.html %}
						</ul>
					</li>
					
					<li>
						<a href="{{ site.baseurl }}/members/nina_szczotka.html">Visitors</a>
						<ul>
						   {% include visitors_list.html %}
						</ul>
					</li>
				</ul>
			</li>
			<!-- <li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">News</a></li> -->
		        <li {% if current[1] == 'research.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/research.html">Research</a></li>
			<li {% if current[1] == 'fundings.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/fundings.html">Fundings</a></li>
			<li {% if current[1] == 'publications' %}class='current'{% endif %}><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
			<li {% if current[1] == 'resources.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
		    <li {% if current[1] == 'openings' %}class='current'{% endif %}><a href="{{ site.baseurl }}/openings.html">Openings</a></li>	
		     <li {% if current[1] == 'gallery' %}class='current'{% endif %}><a href="{{ site.baseurl }}/gallery.html">Gallery</a></li>		      
		</ul>
	</nav>
