<!-- researchbar -->

       <div id="sidebar" class="4u sidebar">
		  <section>
		   <header class="major">
				<div id="dft-dmft"><h2>DFT & DMFT Development</h2></div>
			</header>
			<p>Development of Density and Density-Matrix Functionals Methods (DFT & DMFT)</p>
			<header class="major">
				<div id="electron-corr"><h2>Electron Correlation</h2></div>
			</header>
			<p>Separation of strong and weak correlations, Modeling dispersion.</p>
			 <header class="major">
				<div id="wfn-analysis"><h2>Wavefunction Analysis</h2></div>
			</header>
			<p>Aromacity, electron Sharing Indices (ESIs), chemical Bonding Descriptors</p>
			  <header class="major">
				<div id="mol-prop"><h2>Molecular Properties</h2></div>
			</header>
			<p>Development of Non-Linear Optical Properties, NLO switches with large vdW interaction.</p>
     </section> 
	</div>  
