<!-- researchbar -->

       <div id="sidebar" class="4u sidebar">
		  <section>
		   <header class="major">
				<h2>Development</h2>
			</header>
			<p>Density and Density-Matrix Functionals Methods (DFT & DMFT), strong and weak correlations, dispersion model</p>
			 <header class="major">
				<h2>Chemical Bonding Descriptors</h2>
			</header>
			<p>Electron Sharing Indices (ESIs), aromacity</p>
			  <header class="major">
				<h2>NLOPs</h2>
			</header>
			<p>Development of Non-Linear Optical Properties, NLO switches with large vdW interaction.</p>
     </section> 
	</div>  
