<!-- researchbar -->

       <div id="sidebar" class="4u sidebar">
		  <section>
		   <header class="major">
				<h2>DFT & DMFT Development</h2>
			</header>
			<p>Development of Density and Density-Matrix Functionals Methods (DFT & DMFT)</p>
			<header class="major">
				<h2>Electron Correlation</h2>
			</header>
			<p>Separation of strong and weak correlations, Modeling dispersion.</p>
			 <header class="major">
				<h2>Wavefunction Analysis</h2>
			</header>
			<p>Aromacity, electron Sharing Indices (ESIs), chemical Bonding Descriptors</p>
			  <header class="major">
				<h2>Molecular Properties</h2>
			</header>
			<p>Development of Non-Linear Optical Properties, NLO switches with large vdW interaction.</p>
     </section> 
	</div>  
