<!-- Sidebar -->
	<div id="sidebar" class="4u sidebar">
		<a class="twitter-timeline"
                          href="https://twitter.com/DonostiaChemDev"
                          data-width="300"
                          data-height="300">
                          Tweets by @DonostiaChemDev                         
		           </a>
		<!-- {% for post in site.posts offset: 0 limit: 2 %}
		<section>
			
		        <header class="major">
				<h2>{{ post.title }}</h2>
			</header>
			{{ post.excerpt }}  
		</section>
		 {% endfor %} -->
	</div>


