<!-- Sidebar -->

<!-- Embedded timeline of twitter -->

	 <div id="sidebar" class="4u sidebar">
		 {% for post in site.posts offset: 0 limit: 2 %} 
		<section>
		 <a class="twitter-timeline" data-height="800" href="https://twitter.com/DonostiaChemDev?ref_src=twsrc%5Etfw">Tweets by DonostiaChemDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
		       <!-- <header class="major">
				<h2>{{ post.title }}</h2>
			</header>
			{{ post.excerpt }}   -->
		</section>
		 {% endfor %}
	</div>  


