---
title: News
layout: default
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<div class="row">

			<!-- Content -->
			<div id="content" class="7u skel-cell-important">
					
			<section>
				<!-- <div class="10u -1u"> 
					<header class="major">
						<h2>Blog</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header> -->
					<ul class="style">
						{% for post in paginator.posts %}
						<!-- {% for post in site.posts offset: 0 limit: 5 %} -->
						    <li>
							<a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
							<p>{{ post.subtitle }}</p>
							<img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="">
							{{ post.excerpt }}
						    </li>
						{% endfor %}
					</ul>
				<!-- </div> -->
				<!-- Pagination links -->
                                  <div class="pagination">
                                      {% if paginator.previous_page %}
                                      <a href="{{ paginator.previous_page_path }}" class="previous">
                                       Previous
                                        </a>
                                         {% else %}
                                         <span class="previous">Previous</span>
                                            {% endif %}
                                          <span class="page_number ">
                                           Page: {{ paginator.page }} of {{ paginator.total_pages }}
                                           </span>
                                           {% if paginator.next_page %}
                                            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                                            {% else %}
                                            <span class="next ">Next</span>
                                                {% endif %}
                                           </div>
			</section>
		</div>
	   </div>
	{% include sidebar.html %}	
    </div>	
</div>
