---
title: News
layout: default
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
		    <div class="row">
			<!-- Content -->
			<div id="content" class="7u skel-cell-important">
					
			<section>
				<!-- <div class="10u -1u"> 
					<header class="major">
						<h2>Blog</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header> -->
					<ul class="style">
						<!-- {% for post in site.posts offset: 0 limit: 5 %} -->
						{% for post in paginator.posts %}
						     <li>
							<a href="{{post.url | prepend: site.baseurl}}"><h2>{{ post.title }}</h2></a>
							<p>{{ post.subtitle }}</p>
							<img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="">
							{{ post.excerpt }} 
						     </li>
						{% endfor %}
				<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
			    </ul>
			</section>
		</div>
              {% include sidebar.html %}
	   </div>	
    </div>	
</div>
