<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
									</header>
									<div class="row">
										<section class="6u">
											<div class="row">
												<img src="{{ site.baseurl }}/assets/images/logo.jpg" class="img-responsive text-center" style="width:300px;"/>
												<!-- <section class="4u"><img src="{{ site.baseurl }}/assets/images/klim.png" style="width:150px;"/></section>
												<section class="6u"><p><h2>Komunitas GNU/Linux Malang</h2></p></section> -->
											</div> 
											<!-- <ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
												<li><a href="#">Phasellus nibh pellentesque congue.</a></li>
												<li><a href="#">Cras vitae metus aliquam  pharetra.</a></li>
											</ul> -->
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="{{ site.baseurl }}/bootcamp">Bootcamp</a></li>
												<li><a href="{{ site.baseurl }}/bootcamp#daftar">Daftar</a></li>
												<li><a href="{{ site.baseurl }}/bootcamp#jadwal">Jadwal Kegiatan</a></li>
												<li><a href="{{ site.baseurl }}/bootcamp#sponsor">Sponsor</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header id="kontak" class="major">
										<!-- <h2>Kontak</h2> -->
										<!-- <span class="byline">Mattis wisi maecenas ligula</span> -->
									</header>
									<ul class="contact">
										<h3>Kontak</h3>
										<li>
											<span class="address">Basecamp</span>
											<span>Desa Tanggung, Rt.01/Rw.04 <br />Kec. Turen Kab. Malang</span>
										</li>
										<li>
											<span class="mail">Posel</span>
											<span><a href="#">halo@klim.or.id</a></span>
										</li>
										<li>
											<span class="phone">Telepon</span>
											<span>(+62) 85747-526846</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							&copy; 2018 <a href="http://klim.or.id">KLiM</a> - 
							Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a>
						</div>

				</div>
			</div>

	</body>
</html>
