<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Some Links</h2>
										<span class="byline">About Quantum Chemistry</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d23224.45323435951!2d-2.0113250551440243!3d43.313073434245474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0xd51a55a24fd9b35%3A0xb374cfdd5a1816a0!2sDonostia-San%20Sebasti%C3%A1n%2C%20De%20Francia%20Ibilbidea%2C%2022%2C%2020012%20Donostia-San%20Sebastian%2C%20SS!3m2!1d43.317668999999995!2d-1.976704!4m5!1s0xd51b073976e29a9%3A0x72c7d697ecb1d5f0!2sDIPC%2C%20Manuel%20Lardizabal%20Ibilbidea%2C%20Donostia-San%20Sebastian!3m2!1d43.3060031!2d-2.010841!5e0!3m2!1sen!2ses!4v1582476111896!5m2!1sen!2ses" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">Pellentesque elit non gravida blandit.</a></li>
												<li><a href="#">Lorem ipsum dolor consectetuer elit.</a></li>
						
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
								        <!-- <header class="major">
										<h2>Donec dictum metus</h2>
										<span class="byline">Mattis wisi maecenas ligula</span>
									</header> -->
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span> Paseo Manuel de Lardizabal, 4. <br /> 20018 DONOSTIA-SAN SEBASTIÁN <br /> (Gipuzkoa) SPAIN</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">quantchemdev@gmail.com</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>+34 943 01 53 68</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
							Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a>
						</div>

				</div>
			</div>

	</body>
</html>
