---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<!--  <h1><a href="#" id="logo">{{ page.title }}</a></h1>  -->
                         
					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Quantum Chemistry Development Group</h2>
										<!--  class="byline">&hellip; -->
										<!-- <span class="byline">DIPC</span> -->
									</header>
							
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
				                <h2>Recent News</h2>
						<!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span>  -->
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							{% for post in site.posts offset: 0 limit: 1 %}
							<img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt=""  style="width: 25vw; min-width: 100px;">
							<a href="{{ site.baseurl }}{{ post.url }}"><p>{{ post.title }}</p></a>
						{% endfor %}
							<!-- <a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/SilviaDIPC.jpg" alt="" width="200" height="360"></a>
							<p>Welcome Silvia Escayola!</p> -->
						</section>
						<section class="4u">
							{% for post in site.posts offset: 1 limit: 1 %}					
							
							<img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="" style="width: 25vw; min-width: 120px;">
							<a href="{{ site.baseurl }}{{ post.url }}"><p>{{ post.title }}</p></a>
						{% endfor %}
							
							<!-- <a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/Girona_2020.jpg" alt="" width="312" height="360"></a>
							<p>1st RSA-NLOPDFT meeting, Girona.</p> -->
						</section>
						<section class="4u">
					            <a class="twitter-timeline" data-height="600" data-chrome="nofooter"
		                                       href="https://twitter.com/DonostiaChemDev?ref_src=twsrc%5Etfw">Tweets by DonostiaChemDev</a> 
			                               <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
						</section>
                                                      
					</div>
                                             <a href="{{ site.baseurl }}/blog" class="button alt">See more News &gt&gt</a>        
				</section>
			</div>

	{{ content }}
