---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Komunitas GNU/Linux Malang</h2>
										<span class="byline">Kami adalah komunitas pengguna, pecinta, pemerhati, dan pengembang GNU/Linux dan Open Source di lingkungan Malang Raya. </span>
									</header>
									<a href="http://s.id/KLiM" class="button alt">Bergabung</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Berbagi dan Berkolaborasi</h2>
						<span class="byline">Komunitas GNU/Linux Malang berbagi dan berkolaborasi bersama masyarakat untuk meningkatkan kualitas sumber daya manusia di lingkungan Malang Raya khususnya.</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<!-- <p>Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat.</p> -->
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic05.jpg" alt=""></a>
							<!-- <p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis. Donec magna.</p> -->
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic06.jpg" alt=""></a>
							<!-- <p>Curabitur sem urna, consequat vel, suscipit convallis sem leo, mattis placerat, nulla. Sed ac leo.</p> -->
						</section>

					</div>
				</section>
			</div>

	{{ content }}
