---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="{{ site.baseurl }}" id="logo">KLiM</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Komunitas GNU/Linux Malang</h2>
										<span class="byline">Kami adalah komunitas pengguna, pecinta, pemerhati, dan pengembang GNU/Linux dan Open Source di lingkungan Malang Raya. </span>
									</header>
									<a href="http://s.id/KLiM" class="button alt">Bergabung</a>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Berbagi dan Berkolaborasi</h2>
						<span class="byline">Semangat kami untuk berbagi dan berkolaborasi bersama masyarakat untuk meningkatkan kualitas sumber daya manusia di lingkungan Malang Raya khususnya dalam bidang FLOSS.</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>Roadshow Endless OS di SMK Muhammadiyah 08 Pakis bersama Ambassador Endless.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic07.jpg" alt=""></a>
							<p>Rilis Party Ubuntu 17.10 bersama Malang Hacker Link dan IndoXploit Malang.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic06.jpg" alt=""></a>
							<p>Software Freedom Day, Seminar Pengenalan Opensource bersama POROS UB.</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}
